body {
	font-size: 1.5em;
	font-family: verdana, sans-serif;
	margin: 0 auto;
	padding: 0;
	width: 20em;

}

* + * {
	margin-top: 1.5em;
}

* {
	clear: both;
}

/* work-list styling*/
#work-list {
	float: left;
	clear: none;
}

ul {
	list-style: none;
}

ul > li {
	margin: 0em;
	padding: 0.25em;
}

ul > li > a {
	text-decoration: none;
}

button {
	display: block;
}

iframe {
	width: 480px;
	height: 240px;
}